{erl_opts, [debug_info]}.
{deps,
 [{jiffy, {git, "https://github.com/davisp/jiffy", {branch, master}}},
  {epgsql, {git, "https://github.com/epgsql/epgsql", {branch, master}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy", {branch, master}}}
 ]}.

{profiles,
 [{test,
   [{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
                  deprecated_function_calls,deprecated_functions]}
   ]}
 ]}.
